.page-header {
  background-color: #eee;
  top: 0;
  margin-top: 0px;
}

#brandLogo {
  padding: 10px;
  margin-right: 20px;
}


.jumbotron {
  margin-top: 75px;
  height: 350px;
}



#contactForm {
  float: right;
  margin-right: 10px;
  padding: 10px;
}